:root {
	--index: calc(1vw + 1vh);

}

* {
	border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}


img {
	display: block;
}

li {
	list-style-type: none;
}


body {
	font-family: 'Unbounded', sans-serif;
	color: var(--body-text-cl);
	font-size: 16px;
	background-color: yellow;
	position: relative;
	background-image: url('./img/elem-logo\ \(2\).png');
	background-repeat: no-repeat;
	background-position-y: calc(var(--index)*-19);
	background-position-x: calc(var(--index)*2);
	background-size: calc(var(--index)*50);
}

@media only screen and (min-width: 768px) {
	body {
		background-position-y: calc(var(--index)*-22);
		background-position-x: calc(var(--index)*16);
		background-size: calc(var(--index)*50);
	}
}

@media only screen and (min-width: 1440px) {
	body {
		background-image: none;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 40px;
}

@media only screen and (min-width: 1440px) {
	.header {
		padding: 8px 65px;
	}
}

@media only screen and (max-width: 768px) {
	.header {
		flex-direction: row-reverse;
		padding: 8px 16px;
	}
}

@media only screen and (max-width: 1440px) {
	nav {
		display: none;
	}
}

.navigation-list {
	display: flex;
	width: 368px;
	padding: 16px 0px;
	align-items: center;
	gap: 48px;
	flex-shrink: 0;
}

.navigation-item {}

.navigation-icons {
	display: flex;
	gap: 6px;
	margin: 0;
	width: 96px;
}

@media only screen and (max-width: 768px) {
	.navigation-icons {
		display: none;
	}

}



.nav-icons-item {}

.nav-icons-item-svg {}

.header-logo {
	margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
	.header-logo {
		margin: 0 450px 0 auto;
	}
}


@media only screen and (max-width: 768px) {
	.header-logo {
		margin: 0;
	}
}

.header-button {
	display: flex;
	height: 56px;
	padding: 16px 20px;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;

	border-radius: 55px;
	border: 1px solid #000;
}

@media only screen and (min-width: 1440px) {
	.header-button {
		display: none;
	}
}

.header-button-icon {}

/**
  |============================
  | Main Content Title
  |============================
*/


@media only screen and (max-width: 1440px) {
	.background-img {
		display: none;
	}
}

.background-img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.background-img-mobile {
	position: absolute;
	top: -30%;
	left: 13%;
	transform: rotate(31.205deg);
	z-index: -1;
}


.main-content {
	margin: 0 16px;
}

@media only screen and (min-width: 768px) {
	.main-content {
		margin: 0 40px;
	}
}

@media only screen and (min-width: 1440px) {
	.main-content {
		margin: 0 65px;
	}
}

.main-titles {}

.title-site {
	color: #070707;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.24;
	letter-spacing: 0.36px;

	width: 358px;
	margin: 203px 0 0 0;

}

@media only screen and (min-width: 768px) {
	.title-site {
		width: 630px;
		font-size: 64px;
		letter-spacing: 0.64px;
		margin: 188px 0 0 0;
	}
}

@media only screen and (min-width: 1400px) {
	.title-site {
		width: 630px;
		font-size: 64px;
		letter-spacing: 0.64px;
		margin: 128px 0 0 0;
	}
}

.paragraph {
	width: 358px;
	color: #070707;
	font-size: 16px;
	font-style: normal;
	font-weight: 200;
	line-height: 24px;
	margin: 24px 0 215px 0;

}

@media only screen and (min-width: 768px) {
	.paragraph {
		width: 527px;
		font-size: 18px;
		margin-bottom: 48px;
	}
}

.button-block {
	display: block;
	margin-bottom: 76px;
}

@media only screen and (min-width: 768px) {
	.button-block {
		width: 485px;
		display: flex;
		height: 44px;
		gap: 32px;
	}

	.title-button {
		width: 249px;
	}

	.title-button.white {
		width: 156px;
	}
}

.title-button {
	display: flex;
	width: 358px;
	padding: 8px 24px;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	border-radius: 64px;
	border: 1px solid #070707;
	background: #000;
	color: white;

	margin: 0 auto 24px auto;
}

.title-button.white {
	background: white;
	color: black;

}

.title-button-img {}



.title-informations-container {
	display: flex;
	gap: 44px;
}



@media only screen and (max-width: 768px) {
	.title-informations-container {
		display: none;
	}
}

.title-informations-item {
	display: flex;
	width: 268px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	flex-shrink: 0;
}

.title-informations-item:last-child {
	width: 337px;
}

.title-informations-item-title {
	font-size: 48px;
	font-weight: 300;
	line-height: 100%;
	letter-spacing: 0.48px;
	margin: 0;
}

.title-informations-item-paragraph {
	width: 268px;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
}

.title-informations-item-paragraph.luster {
	width: 339px;
}

.title-informations-item-paragraph-span {
	font-weight: 500;
}


/**
  |============================
  | About
  |============================
*/

.About-container {}

.About-title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 48px;
	border-bottom: solid;

}

@media only screen and (min-width:1440px) {
	.About-title {
		justify-content: none;
		gap: 48px;
		width: fit-content;
	}
}


.About-title-title {
	color: #070707;
	font-size: 48px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.48px;
}


.About-title-button {
	all: unset;
}

.About-title-img-button {}

@media only screen and (max-width:768px) {
	.About-title-button {
		display: none;
	}
}

@media only screen and (min-width:1440px) {
	.About-title-button {
		rotate: 50deg;
	}
}

.Abaut-paragraph-container {
	display: flex;
	margin-bottom: 48px;
}

.About-paragraph {
	text-align: justify;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
}

@media only screen and (min-width:1440px) {
	.About-paragraph {
		font-size: 32px;
		font-weight: 200;
		line-height: 40px;
	}
}

@media only screen and (max-width:1440px) {
	.Abaut-paragraph-img {
		display: none;
	}
}

.About-next-info {
	display: flex;
	flex-wrap: wrap;
}



.About-background-img {
	background-image: url("./img/elem-logo (2).png");
	background-position-x: 80%;
	background-position-y: 46%;
	background-size: 650px;
	background-repeat: no-repeat;
	width: 272px;
	height: 508px;
}



.About-twosector {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

@media only screen and (max-width: 768px) {
	.About-background-img {
		display: none;
	}

	.About-twosector {
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

.About-next-info-title {
	position: relative;
	display: flex;
	margin-bottom: 16px;
}

.About-next-info-title-img {
	position: relative;
	background-image: url("./img/icons/clyacks.png");
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: 100px;
	background-repeat: no-repeat;
	width: 110px;
	height: 104px;
}

.About-next-info-title-img p {
	display: inline-block;
	position: absolute;
	top: 24%;
	left: 12%;

	color: white;
	font-size: 34px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.692px;
}

.About-next-info-title-text {
	display: inline-block;
	position: absolute;
	top: -19%;
	left: 19%;

	font-size: 34px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.692px;
}

.About-next-list {}

.About-next-info-item {
	display: flex;
	gap: 8px;
	margin-bottom: 12px;
	align-items: center;
}

.About-next-info-item p {

	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
	/* 133.333% */
}


/**
  |============================
  | Visit form
  |============================
*/

.visit-conteiner {
	margin: 96px auto 0 auto;
	width: 549px;
}

.visit-conteiner-title {
	font-size: 64px;
	font-weight: 400;
	line-height: 124%;
	letter-spacing: 0.64px;
}

.visit-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin: 0 auto;
}


.visit-label {
	width: 100%;
	position: relative;
	display: flex;
	padding: 24px 124px 24px 24px;
	align-items: center;
	border-bottom: 1px solid #070707;
}

.label-text {
	position: absolute;

	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
}

.visit-input {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 30px;
}

.visit-button {
	display: flex;
	padding: 12px 24px;
	align-items: center;
	gap: 28px;

	width: 200px;
	height: 74px;
	border-radius: 64px;
	border: 1px solid #070707;
	background: #070707;
	color: white;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;

	margin-top: 24px;
	margin-left: auto;
}

@media only screen and (max-width: 768px) {
	.visit-conteiner-title {
		font-size: 40px;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: 0.4px;
	}

	.visit-button {
		width: 100%;
	}

	.visit-button img {
		margin-left: auto;
	}
}